{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1> About us</h1>
        <p class="lead">We are a crowd of smart people helping clients from the U.S. and Europe with creating digital products and delivering digital services. Based in two offices in Poland and Ukraine, our engineers often visit clients on-premises when needed. Team and project sizes vary from a mere 2-support team to a full-fledged 20-people engineering team for continuous delivery.</p>
    </div>
{% endblock %}